<% @entries.each do |entry| %>
  <div class='row-fluid'>
  <div class='span5'>
    <div class='well'>
      <div class='pull-left'>
        <strong>@<%= entry.user.username %></strong>
      </div>
      <div class='pull-right'>
        <%= time_ago_in_words(entry.created_at) %> ago
      </div>
      <br />
      <br />
      <%= entry.post %>
    </div>
  </div>
</div>
<% end %>
